# Vacation Destinations

In [1]:
# Dependencies
import pandas as pd
import gmaps
import requests
from config import g_key

In [5]:
# Import cities DF from CSV file 
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Albany,US,2020-08-17 22:16:43,42.60,-73.97,75.00,71,3,5.61
1,1,Hermanus,ZA,2020-08-17 22:14:09,-34.42,19.23,46.99,79,93,7.00
2,2,Dikson,RU,2020-08-17 22:16:44,73.51,80.55,50.13,93,76,13.00
3,3,Saint George,US,2020-08-17 22:15:18,37.10,-113.58,111.99,5,1,10.29
4,4,Puerto El Triunfo,SV,2020-08-17 22:16:44,13.28,-88.55,95.00,59,20,4.14

In [6]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [7]:
# Configure Gmaps to use personal API key
gmaps.configure(api_key=g_key)

## Heat Maps

### Heatmap of Max Temp

In [19]:
# Get locations 
locations = city_data_df[["Lat","Lng"]]

# Get temperatures of locations 
max_temp = city_data_df["Max Temp"]

# Create figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)

# Create heatmap layer
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],
                                 dissipating=False, max_intensity=300, point_radius=4)

# Combine heatmap to figure
fig.add_layer(heat_layer)

# Show figure
fig

Figure(layout=FigureLayout(height='420px'))

### Heatmap of Humidity

In [18]:
# Get locations 
locations = city_data_df[["Lat","Lng"]]

# Get humidity of locations 
humidity = city_data_df["Humidity"]

# Create figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)

# Create heatmap layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity,
                                 dissipating=False, max_intensity=300,
                                 point_radius=4)

# Combine heatmap to figure
fig.add_layer(heat_layer)

# Show figure
fig

Figure(layout=FigureLayout(height='420px'))

### Heatmap of Cloudiness

In [20]:
# Get locations 
locations = city_data_df[["Lat","Lng"]]

# Get clouds of locations 
cloudiness = city_data_df["Cloudiness"]

# Create figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)

# Create heatmap layer
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness,
                                 dissipating=False, max_intensity=300,
                                 point_radius=4)

# Combine heatmap to figure
fig.add_layer(heat_layer)

# Show figure
fig

Figure(layout=FigureLayout(height='420px'))

### Heatmap of Wind Speed

In [21]:
# Get locations 
locations = city_data_df[["Lat","Lng"]]

# Get wind speed of locations 
wind = city_data_df["Wind Speed"]

# Create figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)

# Create heatmap layer
heat_layer = gmaps.heatmap_layer(locations, weights=wind,
                                 dissipating=False, max_intensity=300,
                                 point_radius=4)

# Combine heatmap to figure
fig.add_layer(heat_layer)

# Show figure
fig

Figure(layout=FigureLayout(height='420px'))

## Vacation Criteria

### Preferred locations based on Max Temperature

In [22]:
# Ask customers what are their desired max and min temperatures
min_temp = float(input("What is the mininum tempurature you would like to vacation at? "))
max_temp = float(input("What is the maximum tempurature you would like to vacation at? "))

What is the mininum tempurature you would like to vacation at? 75
What is the maximum tempurature you would like to vacation at? 90

In [26]:
# Create DF of cities that fall between the customer's desired temperatures
preferred_cities_df  = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) &
                                (city_data_df["Max Temp"] <= max_temp)]
preferred_cities_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Albany,US,2020-08-17 22:16:43,42.60,-73.97,75.00,71,3,5.61
15,15,Padang,ID,2020-08-17 22:16:45,-0.95,100.35,76.66,72,53,4.03
18,18,Tautira,PF,2020-08-17 22:16:46,-17.73,-149.15,82.40,58,75,11.41
21,21,Micheweni,TZ,2020-08-17 22:16:46,-4.97,39.83,75.81,81,99,12.24
22,22,Sola,VU,2020-08-17 22:16:46,-13.88,167.55,80.60,88,75,5.82
...,...,...,...,...,...,...,...,...,...,...
523,523,Ishigaki,JP,2020-08-17 22:17:51,24.34,124.16,80.60,88,75,6.93
531,531,Seoul,KR,2020-08-17 22:16:57,37.57,126.98,75.20,100,1,1.03
532,532,Tuskegee,US,2020-08-17 22:17:52,32.42,-85.69,88.00,78,96,6.42
535,535,Kavaratti,IN,2020-08-17 22:17:52,10.57,72.64,81.01,82,91,13.06
540,540,Buala,SB,2020-08-17 22:17:53,-8.14,159.59,83.07,73,80,3.76

In [27]:
preferred_cities_df.count()

City_ID       179
City          179
Country       179
Date          179
Lat           179
Lng           179
Max Temp      179
Humidity      179
Cloudiness    179
Wind Speed    179
dtype: int64

In [28]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

### Hotels at Preferred Cities

In [29]:
# Create Hotel DF to add in hotels to preferred cities DF
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp    Lat     Lng Hotel Name
0       Albany      US     75.00  42.60  -73.97
15      Padang      ID     76.66  -0.95  100.35
18     Tautira      PF     82.40 -17.73 -149.15
21   Micheweni      TZ     75.81  -4.97   39.83
22        Sola      VU     80.60 -13.88  167.55
23     Sibolga      ID     76.10   1.74   98.78
24      Bethel      US     77.00  41.37  -73.41
28    Det Udom      TH     77.00  14.91  105.08
29    Bengkulu      ID     75.11  -3.80  102.27
32  Correntina      BR     78.30 -13.34  -44.64

In [30]:
# Set parameters to search for hotels in each location
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [45]:
# iterate through hotel DF to get locations for each city
for index, row in hotel_df.iterrows():
    lat = row['Lat']
    lng = row['Lng']
    
    # Add latitude and longitude to parameters for search
    params["location"] = f"{lat},{lng}"
    
    # Create base_url for search
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data
    hotels = requests.get(base_url, params=params).json()
    
    # Store name of first hotel in hotel DF
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError): 
        print("No hotel found...skipping.")

No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.

In [46]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Albany,US,75.00,42.60,-73.97,
15,Padang,ID,76.66,-0.95,100.35,Mercure Padang
18,Tautira,PF,82.40,-17.73,-149.15,Pension Oaoa
21,Micheweni,TZ,75.81,-4.97,39.83,
22,Sola,VU,80.60,-13.88,167.55,Leumerus Bungalows
...,...,...,...,...,...,...
523,Ishigaki,JP,80.60,24.34,124.16,Hotel Peace Land Ishigakijima
531,Seoul,KR,75.20,37.57,126.98,LOTTE HOTEL SEOUL
532,Tuskegee,US,88.00,32.42,-85.69,Kellogg Hotel & Conference Center
535,Kavaratti,IN,81.01,10.57,72.64,Bismillah Hotel And Lodging
540,Buala,SB,83.07,-8.14,159.59,Maringe Lagoon Lodge

## Heatmap of Max Temperature using Hotels DF

In [50]:
# Add info box to marker layer
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [51]:
# Store the DataFrame Row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [52]:
# Get locations 
locations = hotel_df[["Lat","Lng"]]

# Get temperatures of locations 
max_temp = hotel_df["Max Temp"]

# Create figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)

# Create heatmap layer
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
                                 dissipating=False, max_intensity=300,
                                 point_radius=4)

# Create a location marker layer 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Combine layers to figure
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Show figure
fig

Figure(layout=FigureLayout(height='420px'))